<center>
    <h3>Lista de usuários</h3>
</center>
<hr>
<a href="/usuarios/novo"><button class="btn btn-success">Adicionar usuário</button></a>

<div class="row">

    {{#each users}}

    <div class="col-4">
        <div class="card my-4 text-center">
            <div class="card-body p-2">
                <h3>
                    {{name}}
                </h3>
                <p>
                    idade: {{age}}
                </p>
            </div>
            <div class="card-footer">
                <a href="" class="text-primary btn">EDIT</a>|
                <a href="" class="text-danger btn">DELETE</a>
            </div>
        </div>
    </div>

    {{else}}
    <h3>Nenhum cadastrado :(</h3>
    {{/each}}
</div>