<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Adicionar usuário</h5>
            </div>
            <div class="card-body">
                <form action="/usuarios/novo" method="POST">
                    <label for="campo-skill">Nome:</label>
                    <input type="text" name="Name" class="form-control">

                    <label for="campo-skill">Idade:</label>
                    <input type="number" name="Age" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-success">Adicionar</button>
                </form>
            </div>
        </div>
    </div>
</div>